/* body {
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
  }
  
   
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .header {
    padding: 10px 16px;
    text-align: center;
    background-color:blue;
    color: white;
    font-size: 30px;
    position: fixed;
    top: 5%;
    width: 100%;
    position:sticky;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:blueviolet;
    color: white;
    text-align: center;
  }

  .navigationbuttons {
    list-style-type: none;
    margin:0%;
    padding:0%;
    background-color:crimson;
  }

  .horizontal {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    overflow:hidden;
  }

  li {
    display: inline-block;
    float:left;
    padding: 8px;
    background-color:crimson;
    color:forestgreen;

  } */

  .past {
    background-color: gray;
  }
  
  .present {
    background-color: red;
  }
  
  .future {
    background-color: green;
  }